.div-canvas-container {
  text-align: center;
  margin: 0px auto;
  padding: 0px;
  height: 90% !important;
  width: 100% !important;
  object-fit: contain;
}

.edit-toolbar {
  height: 35px;
  justify-content: center;
  background: transparent !important;
  margin-top: 10px;
}

.toolbar-button {
    font-family: FontAwesome;
    display: inline-block;
    width: 2px;
    min-width: 0;
}

  .tool-button {
  width: 40px;
  height: 35px;
  margin-right: 10px;
  vertical-align: middle;
  border: 0ch;
  border-radius: 2px;
}

.colorPicker {
  width: 35px;
  height: 30px;
  margin-top: 1px;
  margin-right: 9px;
  color: transparent;
}

i {
  font-size: 1.5em;
  color: black;
}
