.div-canvas-container {
  text-align: center;
  margin: 0px auto;
  padding: 0px auto;
  height: 90% !important;
  width: 100% !important;
  object-fit: contain;
}

.edit-toolbar {
  height: 7%;
  justify-content: center;
}

.toolbar-button {
    font-family: FontAwesome;
    display: inline-block;
    width: 1.5em;
    min-width: 0;
}

.mat-button.tool-button {
  min-width: 40px !important;
  width: 50px;
  min-height: 40px !important;
  height: 40px;
  margin-right: 10px;
}

.colorPicker {
  width: 40px;
  height: 36px;
  margin-top: 3px;
  color: transparent;
}

i {
  font-size: 1.5em;
  color: black;
}
