<div
    class="div-canvas-container"
    (mousedown)="mouseDown($event)"
    (mousemove)="mouseMove($event)"
    (mouseup)="mouseUp($event)"
>
    <canvas id={{canvasId}}></canvas>
</div>

<mat-toolbar class="edit-toolbar">
    <input
        mat-button
        class="colorPicker"
        [(colorPicker)]="strokeColor"
        [style.background]="strokeColor"
        (colorPickerChange)="changeStrokeColor()"
        [cpPositionOffset]='-500'
        [cpDisableInput]=true
    >

    <button
        class="tool-button"
        (click)="addShape('Rectangle')"
        [disabled]="isDrawing"
    >
        <i class="fas fa-square"></i>
    </button>

    <button
        class="tool-button"
        (click)="addShape('Circle')"
        [disabled]="isDrawing"
    >
        <i class="fas fa-circle"></i>
    </button>

    <button
        class="tool-button"
        (click)="addShape('Triangle')"
        [disabled]="isDrawing"
    >
        <i class="fas fa-caret-up"></i>
    </button>

    <button
        class="tool-button"
        (click)="addShape('Line')"
        [disabled]="isDrawing"
    >
        <i class="fas fa-minus"></i>
    </button>

    <button
        class="tool-button"
        (click)="addText()"
        [disabled]="isDrawing"
    >
        <i class="fas fa-font"></i>
    </button>

    <button
        class="tool-button"
        color="accent"
        (click)="crop()"
        [disabled]="isDrawing"
    >
        <i class="fas fa-crop"></i>
    </button>

    <button
        (click)="draw()"
        class="tool-button"
    >
        <i class="fas fa-pencil-alt"></i>
    </button>

    <button
        class="tool-button"
        (click)="group()"
        [disabled]="isDrawing"
    >
        <i class="fas fa-object-group"></i>
    </button>

    <button
        class="tool-button"
        color="accent"
        (click)="bringFoward()"
        [disabled]="isDrawing"
    >
        <i class="fas fa-angle-up"></i>
    </button>

    <button
        class="tool-button"
        color="accent"
        (click)="sendToBack()"
        [disabled]="isDrawing"
    >
        <i class="fas fa-angle-down"></i>
    </button>

    <button
        class="tool-button"
        (click)="deleteSelection()"
        [disabled]="isDrawing"
    >
        <i class="fas fa-trash"></i>
    </button>

    <button
        (click)="saveImage()"
        class="tool-button"
    >
        <i class="fas fa-download"></i>
    </button>
</mat-toolbar>
