<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<div
    class="div-canvas-container"
    (touchstart)="mouseDown($event)"
    (touchmove)="mouseMove($event)"
    (touchend)="mouseUp($event)"
    (mousedown)="mouseDown($event)"
    (mousemove)="mouseMove($event)"
    (mouseup)="mouseUp($event)"
>
    <canvas id="canvas"></canvas>

</div>

<ion-toolbar>
    <div class="div-edit-toolbar">
        <button
            ion-button
            large
            [clear]="true"
            (click)="presentShapeActionSheet()"
        >
            <i
                class="fa fa-square"
                id="icon"
            ></i>
        </button>

        <button
            ion-button
            large
            [clear]="true"
            (click)="presentPictogramsActionSheet()"
        >
            <i
                class="fa fa-image"
                id="icon"
            ></i>
        </button>

        <button
            ion-button
            large
            [clear]="true"
            (click)="presentEditActionSheet()"
        >
            <i
                class="fa fa-edit"
                id="icon"
            ></i>
        </button>

        <input
            class="colorPicker"
            [(colorPicker)]="strokeColor"
            [style.background]="strokeColor"
            (colorPickerChange)="changeStrokeColor()"
        >

        <input
            class="colorPicker"
            [(colorPicker)]="fillColor"
            [style.background]="fillColor"
            (colorPickerChange)="changeFillColor()"
        >

        <button
            ion-button
            large
            [clear]="true"
            (click)="undo()"
            *ngIf="isUndoAvailable"
        >
            <i
                class="fa fa-undo"
                id="icon"
            ></i>
        </button>

    </div>

</ion-toolbar>
