.editBar {
  background-color: grey;
  padding: 32px;
}

.mat-form-field {
  width: 100px !important;
}

.mat-select-value {
  max-height: 100px !important;
  align-content: center !important;
}  