.div-canvas-container {
  width: 100% !important;
  height: 80% !important;
}

.canvas-container {
  width: 100% !important;
  height: 80% !important;
}

.edit-bar {
  position: absolute;
  bottom: 10px;
  width: 100%;
  background-color: whitesmoke;
}

.div-edit-toolbar {
  align-content: center !important;
  text-align: center;
  vertical-align: center;
}

.action-sheet-button {
  font-family: FontAwesome, Arial !important;
  text-align: left, right !important;
}

#icon {
  color: color($colors, caucaRed);
}
