<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<div
    class="div-canvas-container"
    appCanvasDirective
    (mouseDown)="mouseDown($event)"
    (mouseMove)="mouseMove($event)"
    (mouseUp)="mouseUp($event)"
>
    <canvas id="canvas"></canvas>

</div>

<ion-toolbar>

    <button
        ion-button
        (click)="presentShapeActionSheet()"
    >
        Formes
    </button>

    <button
        ion-button
        (click)="presentPictogramsActionSheet()"
    >
        Pictogrammes
    </button>

    <button
        ion-button
        (click)="presentEditActionSheet()"
    >
        Édition
    </button>

</ion-toolbar>
