.div-canvas-container {
  text-align: center;
  margin: 0px auto;
  padding: 0px auto;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.div-edit-toolbar {
  text-align: center;
}

.button-edit-toolbar {
  padding: 4% !important;
  margin: 0% !important;
}

.action-sheet-button {
  font-family: FontAwesome, Arial !important;
  text-align: left, right !important;
}

.color-picker {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0px;
  left: 0px;
}

#icon {
  color: #B32017;
}
