.div-sketch-tool {
  position: relative;
  height: 100%;
}

.div-canvas-container {
  text-align: center;
  margin: 0px auto;
  padding: 0px auto;
  height: 100%;
}

canvas{
  padding: 0;
  margin: auto;
}

.edit-bar {
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0px;
  left: 0px;
}

.div-edit-toolbar {
  align-content: center !important;
  text-align: center;
}

.action-sheet-button {
  font-family: FontAwesome, Arial !important;
  text-align: left, right !important;
}

.color-picker {
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0px;
  left: 0px;
}

#icon {
  color: #B32017;
}
